@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-blur {
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
}
.select-group-dropdown {
  position: absolute;
  top: 100%; /* Adjust this value to control the dropdown position */
  left: 0;
  z-index: 1000; /* Ensure it appears above other elements */
}
